body{
  position: relative;
  width: 100%;
  display: block;
  overflow-x: hidden;
  background-color: #1f2029;
  color: #c4c3ca;
  font-family: 'Muli', sans-serif;
}
::selection {
  background-color: #000;
  color: #fff;
}
::-moz-selection {
  background-color: #000;
  color: #fff;
}
a:hover{
  text-decoration: none;
}

/*BACKGROUND*/
.app__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	filter: blur(8px);
	pointer-events: none;
	user-select: none;
	overflow: hidden;
}
.app__bg::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1;
	opacity: 0.7;
}
.app__bg__image {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
	width: 100%;
	height: 100%;
	transition: transform 1000ms ease, opacity 1000ms ease;
	overflow: hidden;
}
.app__bg__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.app__bg__image.current--image {
	opacity: 1;
	--image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
	opacity: 0;
}
.app__bg__image.previous--image {
	--image-translate-offset: -25%;
}
.app__bg__image.next--image {
	--image-translate-offset: 25%;
}
/*BACKGROUND-END*/

 /* #Cursor
 ================================================== */
.cursor,
.cursor2,
.cursor3{
  position: fixed;
  border-radius: 50%;	
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%
}
.cursor{
  background-color: #fff;
  height: 0;
  width: 0;
  z-index: 99999;
}
.cursor2,.cursor3{
  height: 36px;
  width: 36px;
  z-index:99998;
  -webkit-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
  -webkit-transform:scale(2) translateX(-25%) translateY(-25%);
  transform:scale(2) translateX(-25%) translateY(-25%);
  border:none
}
.cursor2{
  border: 2px solid #fff;
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover{
  background: rgba(255,255,255,.1);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 1200px){
  .cursor,.cursor2,.cursor3{
    display: none
  }
}
 
 .shadow-title{
   position: fixed;
   top: 0;
   margin-top: 30px;
   left: 20px;
   width: 100%;
   height: 300%;
   text-align: left;
   font-family: 'Muli', sans-serif;
   -webkit-writing-mode: vertical-lr;
   writing-mode: vertical-lr;
   font-size: 10vw;
   line-height: 1;
   color: rgba(200,200,200,.1);
   background: linear-gradient(90deg, rgba(200,200,200,0), rgba(200,200,200,0.35));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 900;
   z-index: 1;
 }
 .section-parallax{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-position: center;
   background-size: cover;
   z-index: 2;
 }
 .section {
   position: relative;
   width: 100%;
   display: block;
 }
 .full-height {
   height: 100vh;
 }
 .section.z-bigger {
   z-index: 100;
 }
 .section.z-bigger-2 {
   z-index: 200;
 }
 .section-title-wrap{
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   transform: translateY(-50%);
   z-index: 3;
 }
 .section-title-wrap p{
   letter-spacing: 2px;
   font-size: 26px;
   font-weight: 700;
   padding: 0;
   color: #f8f8f8;
 }
 .section-title-wrap h1{
   margin: 0;
   padding: 0;
   font-size: 5vw;
   letter-spacing: 8px;
   font-weight: 900;
   color: #fff;
   line-height: 1;
   text-transform: uppercase;
 }
 .padding-top-bottom {
   padding-top: 100px;
   padding-bottom: 100px;
 }
 .over-hide{
   overflow: hidden;
 }
 .background-dark {
   background-color: #101010;
 }
 .project-link-wrap{
   position: relative;
   display: block;
   width: 100%;
   text-align: center;
   margin: 0 auto;
   cursor: pointer;
 }
 .project-link-wrap p{
   font-size: 100px;
   line-height: 80px;
   color: #c4c3ca;
   font-weight: 900;
   text-align: center;
   margin: 0 auto;
   cursor: pointer;
   opacity: 0.35;
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
 }
 .project-link-wrap:hover p{
   opacity: 0.15;
 }
 

 
/* #back to top arrow
================================================== */

.scroll-to-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  width: 10px;
  height: 40px;
  z-index: 251;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 10px 40px;
  cursor: pointer;
  background-image: url('http://www.ivang-design.com/svg-load/parallax/arrow-up.png');
  transform: translateY(-15px);
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear; 
}
.scroll-to-top:hover{
  bottom: 32px;
}
.scroll-to-top.active-arrow{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
 
 /* #Media
 ================================================== */
 
 @media (max-width: 1200px) { 
   .scroll-to-top{
     right: 13px;
   } 
   .case-study-images li .case-study-title{
     left: 13px;
   }
 }
 
 @media (max-width: 991px) { 
   .case-study-images li .hero-number-back{
     font-size: 26vw;
   } 
 }
 
 @media (max-width: 767px) {	
   .case-study-wrapper {
     background-color: rgba(31,32,41,.95);
     box-shadow: 0 0 10px rgba(0,0,0,.8);
   }
   .case-study-wrapper .case-study-name a {
     font-size: 11px;
     letter-spacing: 1px;
     text-align: center;
     margin: 5px;
   }
   .case-study-wrapper .case-study-name {
     margin: 0 auto;
     text-align: center;
   }
   .case-study-images li .hero-number-back{
     font-size: 32vw;
   } 
 }
 

.skill-bar-wrapper {
  margin-right: 30px;
  font-size: 30px;
}

.skillbar-container {
  margin-top: 20px;
  position:relative;
  display:block;
  margin-bottom: 15px;   
  width: 100%;
  background-color: #666463;
  background-color: rgba(255,255,255,.1);
  height:35px;
  height:5px;
}
  
.skills {
  height:35px;
  height:5px;
  width:0px;
}

.glaf-section {
  text-align: center;
}
