@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
:root {
  --background-color: #f0eae3;
  --main-text: #fff;
  --red-color: #a41d20;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
    position: relative;
    display: block;
    background-color: black;
    color: white;
    font-family: 'Audiowide', sans-serif;
}

/*BACKGROUND*/
.app__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	filter: blur(8px);
	pointer-events: none;
	user-select: none;
	overflow: hidden;
}
.app__bg::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1;
	opacity: 0.7;
}
.app__bg__image {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
	width: 100%;
	height: 100%;
	transition: transform 1000ms ease, opacity 1000ms ease;
	overflow: hidden;
}
.app__bg__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.app__bg__image.current--image {
	opacity: 1;
	--image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
	opacity: 0;
}
.app__bg__image.previous--image {
	--image-translate-offset: -25%;
}
.app__bg__image.next--image {
	--image-translate-offset: 25%;
}
/*BACKGROUND-END*/

.shadow-title{
    position: fixed;
    top: 0;
    margin-top: 30px;
    left: 20px;
    width: 100%;
    height: 300%;
    text-align: left;

    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-size: 14vw;
    line-height: 1;
    color: rgba(100,200,200,.1);
    background: linear-gradient(90deg, rgba(200,200,200,0), rgba(200,200,200,0.35));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    z-index: 1;
}

.cards {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.border {
    width: 1px;
    height: 40vh;
    background-image: linear-gradient(to top, var(--background-color), rgba(0, 0, 0, 0.5), var(--background-color));
}
.card {
    height: 60vh;
    aspect-ratio: 2.5/5;

    position: relative;

    text-align: center;
    cursor: pointer;

    background-repeat: no-repeat;
    border-radius: 1em;
    background-position-x: 0%;
    background-size: 0%;
}
.card:hover {
    background-position-x: center;
    background-size: cover;
    transition: background-position-x 1s ease;
}
.cards > .card:hover > h3,
.cards > .card:hover > p,
.cards > .card:hover > h2 {
    color: white;
    transition: color 0.5s ease;
}
.cards > .card > h3 {
    color: var(--main-text);
    font-size: 2.2rem;
    line-height: 1.2em;
    font-weight: 600;
    padding: 5%;
}
.cards > .card > p {
    color: #fff;
}
.cards > .card > h2 {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15em;
    font-weight: 500;
}
.card-1 {
    background-image: url(https://img1.wallspic.com/crops/0/4/5/4/2/124540/124540-web_design-tech-information-technology-blue-3840x2400.jpg);
}
.card-2 {
    background-image: url(https://www.eescorporation.com/wp-content/uploads/2022/05/mobile-app-development-features.jpg);
}
.card-3 {
    background-image: url(https://img.freepik.com/premium-photo/computer-screen-with-colorful-paint-it-generative-ai_97167-1066.jpg);
}
.card-4 {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/428/434/322/art-computer-digital-art-concept-art-wallpaper-preview.jpg);
}

@media only screen and (max-width: 1000px) {
  .cards {
    top: 5%;
    padding-bottom: 5%;
    transform: translate(-50%, 0%);
  }
  .cards {
    flex-direction: column;
  }
  .cards > .card > h3 {
    font-size: 2em;
    padding-top: 15%;
  }
  .cards > .card > p {
    font-size: 0.9em;
  }
  .cards > .card > h2 {
    font-size: 8em;
  }
  .border {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, var(--background-color), rgba(0, 0, 0, 0.5), var(--background-color));
  }
}
@media only screen and (max-height: 900px) {
  .cards > .card > h3 {
    font-size: 2em;
    padding-top: 15%;
  }
  .cards > .card > p {
    font-size: 0.9em;
  }
  .cards > .card > h2 {
    font-size: 8em;
  }
}

/*Cursor*/
.cursor,
.cursor2,
.cursor3{
    position: fixed;
    border-radius: 50%;	
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%
}
.cursor{
    background-color: #fff;
    height: 0;
    width: 0;
    z-index: 99999;
}
.cursor2,.cursor3{
    height: 36px;
    width: 36px;
    z-index:99998;
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
    -webkit-transform:scale(2) translateX(-25%) translateY(-25%);
    transform:scale(2) translateX(-25%) translateY(-25%);
    border:none
}
.cursor2{
    border: 2px solid #fff;
    box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover{
    background: rgba(255,255,255,.1);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 1200px){
  .cursor,.cursor2,.cursor3{
    display: none
  }
}
/*Cursor-END*/